*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mapa::before {
    content:"";
    width:55%;
    height: 10%;
    position: absolute;
    bottom: 10%;
    background: linear-gradient(to bottom,  rgba(39, 39, 39, 0.466),rgb(5, 5, 5));
    z-index: -2;
    filter: blur(0.5rem);
    transform: perspective(10px) rotateX(3deg);
   /*  border-radius: 50%; */
  }


.sliding-background{
    position: absolute;
    z-index: -1;
   -webkit-box-reflect: below 100px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(255,255,255,0.5))); 
}
#marca{
    position:absolute;
    z-index: 20;
}

.dubai{
    height: 100%;
    width: 100%;
   /*  background: rgb(255, 0, 0); */
    position: absolute;
    display:none;
    flex-direction: row;   
    justify-content: space-between;
    z-index: -4;
     
}
.kuala-lumpur{
    height: 50px;
    width: 50px;
    background: rgb(229, 255, 0);
    display:none;
    position: absolute;
    z-index: 4;
     
}
.hong-kong{
    height: 100%;
    width: 100%;
   /*  background: rgb(0, 255, 76); */
    position: absolute;
    display:none;
    flex-direction: row;   
    justify-content: space-between;
    z-index: -4;
}
.shangai{
    height: 50px;
    width: 50px;
    background: rgb(0, 195, 255);
    display:none;
    position: absolute;
    
}
.london{
    height: 50px;
    width: 50px;
    background: rgb(25, 0, 255);
    display:none;
    position: absolute;
    z-index: 4;
    
}
.miami{
    height: 50px;
    width: 50px;
    background: rgb(153, 0, 255);
    display:none;
    position: absolute;
}
#experience_city{
    /*  background: cornflowerblue; */
     position: absolute;
     height: 100vh;
     width: 100vw;
     top: 0;
     z-index: -2;
 }


.exp{
   /*  background: tomato; */
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 230px;
    padding: 0.2em;
}
.exp strong{
    text-transform: uppercase;
}
.exp_img{
margin-top: 4em;
display: flex;
justify-content: center;
align-items: center;
}
.exp_img img{
    height: 100%;
}


